doctype html
html
	head
	body
		h1 Result page
		br
		a(href='./') INDEX 
		br
		a(href='./searchBar') SEARCH
		br
		a(href='formPage') USERS
		if key === undefined
			p There is no match found!
		else
			p #{key}