doctype html
html
		head
		body
			a(href='./') INDEX 
			br
			a(href='./searchBar') SEARCH
			br
			a(href='formPage') USERS
			h1 List of users:
			ul
				each val in userlist
					li= val.firstname
					li= val.lastname
					li= val.email